Source: python-selenium
Section: python
Priority: optional
Maintainer: Zack Weinberg <zackw@panix.com>
Build-Depends: debhelper (>= 9), python (>= 2.7), python-setuptools
X-Python-Version: >=2.7
Standards-Version: 3.9.4.0

Package: python-selenium
Architecture: amd64
Homepage: https://pypi.python.org/pypi/selenium
Depends: ${misc:Depends}, ${python:Depends}, ${shlibs:Depends}
Provides: ${python:Provides}
Description: Python language bindings for Selenium web automation
 yada yada yada

