*~
\#*#
*.orig
*.rej

/pkg/selenium-server-2.33.0/selenium-server.jar
/pkg/selenium-server-2.33.0/debian/files
/pkg/selenium-server-2.33.0/debian/selenium-server/
/pkg/selenium-server-2.33.0/debian/selenium-server.debhelper.log
/pkg/selenium-server-2.33.0/debian/selenium-server.substvars
/pkg/selenium-server_2.33.0-1_all.deb

/pkg/python-selenium-2.33.0.tar.gz

/pkg/tor-browser-3.0a2.tar.xz

/lb/binary/
/lb/binary.contents
/lb/binary.hybrid.iso
/lb/binary.hybrid.iso.zsync
/lb/binary.packages
/lb/.build
/lb/build.log
/lb/cache/
/lb/chroot/
/lb/chroot.packages.install
/lb/chroot.packages.live
/lb/config/binary
/lb/config/bootstrap
/lb/config/chroot
/lb/config/common
/lb/config/source
