/binary/
/binary.contents
/binary.hybrid.iso
/binary.hybrid.iso.zsync
/binary.packages
/.build
/build.log
/cache/
/chroot/
/chroot.packages.install
/chroot.packages.live
/config/binary
/config/bootstrap
/config/chroot
/config/common
/config/source
