/lb/binary/
/lb/binary.contents
/lb/binary.hybrid.iso
/lb/binary.hybrid.iso.zsync
/lb/binary.packages
/lb/.build
/lb/build.log
/lb/cache/
/lb/chroot/
/lb/chroot.packages.install
/lb/chroot.packages.live
/lb/config/binary
/lb/config/bootstrap
/lb/config/chroot
/lb/config/common
/lb/config/source
