Source: tor-browser
Section: web
Priority: optional
Maintainer: Zack Weinberg <zackw@panix.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.4.0

Package: tor-browser
Architecture: amd64
Homepage: https://www.torproject.org/
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Tor Browser Bundle
 yada yada yada

