#!/usr/bin/make -f
%:
	dh $@

# dh_makeshlibs should not be run on this package, even though it
# appears to contain shared libraries.
override_dh_makeshlibs: ;

# dh_shlibdeps needs special options.
override_dh_shlibdeps:
	dh_shlibdeps -l \
`pwd`/debian/tor-browser/usr/lib/tor-browser/App/Firefox/:\
`pwd`/debian/tor-browser/usr/lib/tor-browser/Lib/ \
 -- --warnings=0

.PHONY: override_dh_makeshlibs override_dh_shlibdeps
